body{
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  display: flex;
}

*{
  vertical-align: top;
  margin: 0;
}

.left_thin_block{
  display: inline-block;
  background-color: #2b2f3e;
  width: 21vw;
  min-width: 160px;
  flex: 1;
}

@media (max-width: 600px){
  body{
    display: block;
  }
  .left_thin_block{
    width: 100%;
  }
  body>.right_wide_block{
    padding: 10px 5px;
    width: 100%;
    text-align: center;
  }
  .right_wide_block>.items{
    min-height: 300px;
  }
  .items, .comments{
    text-align: center;
  }
  .items>.item_list{
    width:100%;
    height: 100px;
  }
  .items>.item_list>button{
    float: none;
    display: block;
    margin: 0 auto;
  }
  .items>.item_list>.active{
    height: 100px;
  }
  .right_wide_block>.comments{
    width: 88%;
    margin-left: 0;
  }
  .comments textarea{
    width: 100% !important;
    margin-top: 10px;
  }
}

.right_wide_block{
  display: inline-block;
  width: 75vw;
  padding-top: 31px;
  padding-left: 31px;
}

.items, .comments{
  display: inline-block;
  background-color: #ffffff;
  padding-top: 20px;
  box-shadow: 1px 1px 15px #dfdfdf;
}

.items{
  max-width: 500px;
  min-height: 515px;
  padding-left: 30px;
  padding-right: 15px;
  padding-bottom: 30px;
}

.items input{
  width: 286px;
  height: 34px;
  margin-top: 20px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding-left: 10px;
  font-size: 17px;
}

.items .add_item{
  margin-top: 20px;
  margin-bottom: 15px;
  height: 37px;
  width: 136px;
  background-color: #27ccc0;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  margin-left: 7px;
}

.comments{
  margin-left: 17px;
  padding-left: 18px;
  padding-right: 18px;
  margin-bottom: 15px;
}

.comments>h2{
  margin-bottom: 43px;
}

.comment_item{
  margin-bottom: 15px;
  padding-bottom: 19px;
  border-bottom: 1px solid #ccc;
}

.comment_item.last-item{
  border-bottom: none;
  padding-bottom: 9px;
  }

.comment_img{
  display: inline-block;
  width: 52px;
  height: 52px;
}

.comment_text{
  display: inline-block;
  max-width: 346px;
  margin-left: 10px;
  font-size: 13px;
  font-family: sans-serif;
  line-height: 1.4;
}

.comment_img.odd{
  background-color: #ff8a00;
}

.comment_img.even{
  background-color: #47568c;
}

.comment_img.add{
  background-color: #e6e6e6;
}

.comments form{
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 10px;
}

.comments textarea{
  display: inline-block;
  width: 340px;
  height: 67px;
}

h2{
  font-size: 36px;
  font-family: sans-serif;
  font-weight: 200;
  line-height: 36px;
}

a>h2{
  color: #565a69;
  margin-left: 27px;
  margin-top: 22px;
}

h3.tab{
  font-size: 19px;
  font-family: sans-serif;
  font-weight: 200;
  margin-top: 73px;
  background-color: #ff305a;
  color: #fff;
  line-height: 59px;
  padding-left: 27px;
}

a{
  text-decoration: none;
}

h5{
  display: inline-block;
  font-size: 17px;
  font-family: sans-serif;
  line-height: 50px;
  vertical-align: middle;
}

.item_list{
  position: relative;
  display: block;
  height: 50px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
}

.item_list .active{
  width:5px;
  height: 52px;
  background-color: #ff305a;
  position: absolute;
  left: -34px;
}

.badge{
  color: #fff;
  background-color: #27ccc0;
  display: inline-block;
  min-width: 12px;
  padding: 3px 7px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px;
}

.badge:empty {
  display: none;
}

.item_list button{
  background-color: inherit;
  color: #ff305a;
  border: 1px solid #ff305a;
  border-radius: 3px;
  height: 36px;
  width: 100px;
  float: right;
  margin-right: 5px;
  margin-top: 6px;
  font-size: 16px;
  vertical-align: middle;
}

a:hover{
  cursor: pointer;
  background-color: #fcfcfc;
}
